[submodule "includes/imgui"]
	path = includes/imgui
	url = https://github.com/ocornut/imgui
[submodule "includes/imnodes"]
	path = includes/imnodes
	url = https://github.com/rokups/ImNodes
[submodule "includes/plog"]
	path = includes/plog
	url = https://github.com/SergiusTheBest/plog
[submodule "includes/tweeny"]
	path = includes/tweeny
	url = https://github.com/mobius3/tweeny
[submodule "includes/iconfont"]
	path = includes/iconfont
	url = https://github.com/juliettef/IconFontCppHeaders
[submodule "includes/simpleini"]
	path = includes/simpleini
	url = https://github.com/brofield/simpleini
[submodule "includes/ppk"]
	path = includes/ppk
	url = https://github.com/gpakosz/PPK_ASSERT
